Body{
  background: dodgerblue;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1, h5 {
  color: white;
}

h1{

  margin-top: 20%;
  font-size: 100px;
}



@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  /* Disable text selection, or your app will feel like a web page */
  -webkit-user-select: none;
  -webkit-app-region: drag;

  /* Cover the whole window */
  height: 100%;

  /* Make sure this matches the native window background color that you pass to
   * electron.BrowserWindow({...}), otherwise your app startup will look janky. */
  background: dodgerblue;
  
  /* Smoother startup */
  animation: fadein 0.5s;
}